* {
    font-family: "Times New Roman", sans-serif;
    box-sizing: border-box;
}

h1 {
    color: black;
}

img {
    image-rendering: crisp-edges;
    width: auto;
    height: auto;
    padding: 8px;
}

button {
   font-size: large;
}

.header {
    background: lightgray;
    padding: 4px 10px;
    margin: 4px;
    position: sticky;
    top: 0;
}

.card {
    background-color: lightgray;
    padding: 8px;
    margin: 12px;
    display: inline-block;
}

.button {
    font-weight: bold;
    color: Red;
    display: block;
    text-align: center;
}